.containers{
    width:100%;
    padding:"30px";
    min-height: 100vh;
    background-color:"grey";
    flex-direction: column;
    background-image: url("../images/about_2.jpg");
    background-size: cover;
}

.headers{
    font-size: 25px;
    text-align: center;
    font-family: "contax";
    color:rgb(161, 37, 37);
}

.writings{
    text-align: center;
}

.buttonstretch1{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    text-align: center;
}

.buttonstretch2{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
    font-family: "contax";
}

.textfields{
    font-size: 25px;
}

.success{
    font-size: 20px;
    color:rgb(161, 37, 37);
    text-align: center;
}

.shortly{
    font-size: 15px;
    color:rgb(161, 37, 37);
}

@media screen and (min-width: 930px) {
    .container{
        width:100%;
        padding:"30px";
        background-color:"grey";
        flex-direction: column;
    }
}

