.contain{
    display: flex;
    min-height: 100vh;
    flex: 1;
    z-index: -3;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-image: url("../images/cover_2.jpg");
    background-repeat: 1;

}

.layer{
    display: flex;
    min-height: 100vh;
    flex: 1;
    z-index: 0;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.header{
    font-size: 30px;
    margin: 30px;
    z-index: 0;
}

.player{
    display: flex;
    min-height: 40vh;
    padding:30px;
    flex: 1;
    align-items: center;
    color: rgb(33, 39, 44);
    z-index: 0;
}

.album{
    display: flex;
    min-height: 100vh;
    flex: 1;
    z-index: -3;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.album-header{
    font-size: 100px;
    color: azure;
    color:rgb(161, 37, 37);
    font-family: "Stranger";
    z-index: 2;
}

.particles{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
}

@media screen and (max-width: 960px) {
    .player{
        z-index: 1;
        display: flex;
        min-height: 40vh;
        padding:30px;
        width: 40%;
        align-items: center;
        color: rgb(33, 39, 44);
        z-index: 0;
    }

}


@media screen and (max-width: 960px) {


}